body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p5Canvas {
    transform: scale(2);
    border: 1px solid red;
}

.text {
    color: white;
    position: absolute;
    top: 50;
    left: 50;
}
